spring:
  application:
    name: new-year
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GMAIL_MAIL_USERNAME}
    password: ${GMAIL_MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
  datasource:
    url: jdbc:postgresql://ep-super-bush-a4hmetuo-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
    username: neondb_owner
    password: npg_9bgoyUQL5dtu
  jpa:
    hibernate:
      ddl-auto: update
server:
  port: 8000

logging:
  level:
    org:
      springframework:
        security: TRACE
gg:
  jte:
    development-mode: true
    template-location: src/main/jte
app:
  cors:
    allowed-origins: http://localhost:5173